:root {
    --background: rgb(249, 249, 249);
    --workspace: white;
}

.container {
    background-color: var(--workspace);
}

.container-fluid, .blanc {
    background-color: var(--background);
}

.main {
    background-color: var(--workspace) !important;
    border-radius: 10px !important;
}

#toFooterDiv {
    height: 100px;
    background-color: var(--background);
    background-image: linear-gradient(var(--background), var(--workspace));
}

thead {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
    background: white;
}

.blanc {
    background-color: var(--workspace) !important;
}